body {
    font-family: 微軟正黑體,microsoft jhenghei,Meiryo;
}
.mainContainer {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}
.logo_title {
    color: #C60A05;
    font-size: 40px;
}
.btn_menu_box {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn_menu {
    border: 0px;
    padding: 0px;
}
.btn_menu_text {
    font-size: 16px;
}

.navbar-toggler:focus {
    border: 0px !important;
    box-shadow: unset;
}
.breadcrumb {
    margin-bottom: 10px;
}
.breadcrumb1 {
    padding-left: 15px;
    padding-top: 10px;
    background-color: #C60A05;
}
.content_wrapper {
    display: flex;
    margin-top: 20px;
}
.content_wrapper_left {
    width: 100%;
    max-width: 400px;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    flex-direction: column;
}
.content_wrapper_right {
    flex: 2;
    max-width: 800px;
    margin: 0 auto;
}
.slideImageWrapper div.slideimg {
    /* width: 400px; */
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center
}
.slideImageWrapper div.slide1 {
    background-image: url("https://dummyimage.com/400x200/7878FF/000000.png&text=ad1");
}
.slideImageWrapper div.slide2 {
    background-image: url("https://dummyimage.com/400x200/00D100/000000.png&text=ad2");
}
.slideImageWrapper div.slide3 {
    background-image: url("https://dummyimage.com/400x200/FFB630/000000.png&text=ad3");
}
.ad_message {
    font-size: 20px;
    font-weight: bold;
}
.nav-item {
    min-width: 100px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.nav-link {
    color: #000000;
}
.nav-link:hover {
    color: #C60A05;
}
.money_box {
    border: 1px solid #eee;
    border-radius: 2px;
    margin-bottom: 20px;
    height: 190px;
    padding: 24px 30px 26px;
}
.money_box h3 {
    color: #3b5998;
}
.money_box p {
    font-size: 12px;
    color: #696f6f;
}
.lend_money_btn {
    /* max-width: 200px; */
    height: 55px;
    background-color: #ffec00;
    border-color: #e6d500;
    color: #333;
    border-radius: 3px;
    margin: 0 auto;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 20%);
    box-shadow: 0 -3px rgb(0 0 0 / 10%) inset;
}
.lend_money_btn:hover {
    box-shadow: 0 -3px rgb(0 0 0 / 20%) inset;
}

.start_ad_btn {
    /* max-width: 200px; */
    height: 55px;
    background-color: #40c0cb;
    border-color: #3eb5bf;
    color: #FFFFFF;
    border-radius: 3px;
    margin: 0 auto;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 20%);
    box-shadow: 0 -3px rgb(0 0 0 / 10%) inset;
}
.start_ad_btn:hover {
    box-shadow: 0 -3px rgb(0 0 0 / 20%) inset;
}
.widget_title {
    margin-bottom: 10px;
    font-weight: 600;
    color: #3b5998;
}
.widget_search_box {
    display: flex;
    flex-wrap: wrap;
}
.widget_search_tag {
    border: 1px solid rgba(0,0,0,.2);
    color: #777;
    display: inline-block;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0 10px 10px 0;
    padding: 5px 7px;
    cursor: pointer;
}
.widget_search_tag:hover {
    color: #f7ca18;
}
.back-to-top {
    position: fixed;
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    right: 0px;
    bottom: 100px;
    background-color: #c60a05;
    color: #fff;
    transition: display 0.5s ease-in-out;
    z-index: 99999;
}
.back-to-top:hover {
    color: #fff;
    opacity: 0.9;
}
.back-to-top svg {
    font-size: 24px;
    position: absolute;
    top: 8px;
    left: 8px;
}
.background-dark {
    background-color: #101010 !important;
}
#footer {
    margin-top: 30px;
    clear: both;
    position: relative;
    color: #FFFFFF;
}
#footer a {
    color: #FFFFFF;
    text-decoration: none;
}
.footer-content {
    padding: 40px 0;
}
.copyright-content {
    border-top: 1px solid rgba(255,255,255,.1);
    min-height: 80px;
    padding: 20px 0;
}
.footer-content .widget-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 21px;
    text-transform: uppercase;
}
.list, .list-lines, .list-icons, .list-simple, .list-posts, .list-tweets li {
    list-style: none;
}
.list-arrow-icons li:before {
    margin-left: -18px;
    position: absolute;
    font-family: fontawesome;
    content: "\f105";
}
.copyright-text {
    font-size: 12px;
    padding-top: 10px;
    text-align: left;
    text-transform: uppercase;
}
.jumbotron.jumbotron-transparent {
    background: 0 0;
    border: 1px solid rgba(255,255,255,.2);
}
.jumbotron.jumbotron-small {
    padding: 24px 30px 26px;
}
.container .jumbotron, .container-fluid .jumbotron {
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 6px;
}
.jumbotron {
    position: relative;
    overflow: hidden;
    padding: 24px 30px 12px;
}
.load_money_item {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.load_money_sucess {
    border-radius: 2px;
    background-color: #5cb85c;
    color: #FFFFFF;
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    margin-right: 10px;
}
.load_money_item_title {
    text-rendering: optimizelegibility;
    margin-top: 0;
    color: #3b5998;
    font-family: 微軟正黑體,microsoft jhenghei,Meiryo;
    font-size: 18px;
}
.btn_i_load_money {
    background-color: #f0ad4e;
    color: #FFFFFF;
    display: inline;
    padding: .2em .6em .3em;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.i_load_money_des {
    color: #696f6f;
    margin-top: 10px;
    margin-bottom: 20px;
}
.register_des {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    color: #3b5998;
    font-size: 15px;
    line-height: 18px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1px;
}
.register_title_1 {
    font-size: 24px;
    color: #3b5998;
    margin-top: 15px;
    margin-bottom: 15px;
}
.register_title_1_des {
    color: #696f6f;
}
.btn_register {
    width: 200px;
    height: 55px;
    background-color: #40c0cb;
    border-color: #3eb5bf;
    color: #FFFFFF;
    border-radius: 3px;
    margin: 0 auto;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 20%);
    box-shadow: 0 -3px rgb(0 0 0 / 10%) inset;
}
.btn_register:hover {
    box-shadow: 0 -3px rgb(0 0 0 / 20%) inset;
}
.btn_login {
    width: 200px;
    height: 55px;
    background-color: #41a5db;
    border-color: #3ca0d6;
    color: #FFFFFF;
    border-radius: 3px;
    margin: 0 auto;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 20%);
    box-shadow: 0 -3px rgb(0 0 0 / 10%) inset;
}
.btn_login:hover {
    box-shadow: 0 -3px rgb(0 0 0 / 20%) inset;
}
.register_btn {
    max-width: 200px;
    height: 55px;
    background-color: #ffec00;
    border-color: #e6d500;
    color: #333;
    border-radius: 3px;
    
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 20%);
    box-shadow: 0 -3px rgb(0 0 0 / 10%) inset;
}
.register_btn:hover {
    box-shadow: 0 -3px rgb(0 0 0 / 20%) inset;
}
input.error { 
    border: 1px solid #FF0000; 
}
label.error {
    color: #FF0000;
}

.login_btn {
    max-width: 200px;
    height: 40px;
    background-color: #c60a05;
    border-color: #c60a05;
    color: #FFFFFF;
    border-radius: 3px;
    
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 20%);
    box-shadow: 0 -3px rgb(0 0 0 / 10%) inset;
    padding: 12px 20px;
    margin-top: 20px;
}
.login_btn:hover {
    opacity: 0.8;
}

.login_title {
    margin-bottom: 10px;
    color: #3b5998;
    font-size: 28px;
}

.btn_register_1 {
    width: 200px;
    height: 55px;
    background-color: #ffec00;
    border-color: #e6d500;
    color: #000000;
    border-radius: 3px;
    margin: 0 auto;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 20%);
    box-shadow: 0 -3px rgb(0 0 0 / 10%) inset;
}
.btn_register_1:hover {
    box-shadow: 0 -3px rgb(0 0 0 / 20%) inset;
}

.btn_register_2 {
    width: 200px;
    height: 55px;
    background-color: #40c0cb;
    border-color: #3eb5bf;
    color: #FFFFFF;
    border-radius: 3px;
    margin: 0 auto;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 20%);
    box-shadow: 0 -3px rgb(0 0 0 / 10%) inset;
}
.btn_register_2:hover {
    box-shadow: 0 -3px rgb(0 0 0 / 20%) inset;
}