
.mainContainer {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}
.logo_title {
    color: #C60A05;
    font-size: 40px;
}
.btn_menu_box {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn_menu {
    border: 0px;
    padding: 0px;
}
.btn_menu_text {
    font-size: 16px;
}

.navbar-toggler:focus {
    border: 0px !important;
    box-shadow: unset;
}
.breadcrumb {
    margin-bottom: 10px;
}
.breadcrumb1 {
    padding-left: 15px;
    padding-top: 10px;
    background-color: #C60A05;
}
.ad_box {
    display: flex;
    margin-top: 10px;
}
.ad_image_box {
    width: 100%;
    max-width: 400px;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    flex-direction: column;
}
.ad_slide_box {
    flex: 2;
    max-width: 800px;
}
.slideImageWrapper div.slideimg {
    width: 400px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center
}
.slideImageWrapper div.slide1 {
    background-image: url("https://dummyimage.com/400x200/e5e4df/000000.png&text=ad1");
}
.slideImageWrapper div.slide2 {
    background-image: url("https://dummyimage.com/400x200/a29c7a/ffffff.png&text=ad2");
}
.slideImageWrapper div.slide3 {
    background-image: url("https://dummyimage.com/400x200/28251c/ffffff.png&text=ad3");
}
.ad_message {
    font-size: 20px;
    font-weight: bold;
}
